:root{
    /* Dark-color-theme */
    --Arsenic: #333948;     /* Darkest color 2nd */
    --outerSpace:#3f4e59;   /* Darkest color 3rd */
    --Feldgrau: #4B585D;    /* Darkest color 4th */
    --graniteGray: #606766; /* Darkest color 5th */
    --CrayolaOuterSpace: #2f3242; /* Darkest color 1st */
    --Black: black;

    /* Light-color-theme */
    --PastelBlue: #B7C7D5;   /* Lightest color 5th aka light pastelblue */
    --ColumbiaBlue: #CBD5E1;    /* Lightest color 4th */
    --Gainsboro: #D3DDEA;   /* Lightest color 3rd */
    --AzureishWhite: #E0E6F4;   /* Lightest color 2nd */
    --Lotion: #FDFDFD;   /* Lightest color 1st white */
    --PastelBlueD: #AEBDCA;  /* Lightest color 6th blue aka dark pastelblue */
}

.SharePostContainer{
    height: 170px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--Lotion);
    box-shadow: 2px 2px 2px 2px rgb(94, 92, 93);
}

.ShareTop{
    padding: 8px 10px ;
    display: flex;
    align-items: center;
}

.ProfilePic{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
    border: 3px solid var(--Black);
    object-fit: cover;
}

.ShareInput{
    width: 70%;
    outline: none;
    border: none;
    font-size: 20px;
}

.shareHR{
    margin: 20px;
}

.shareOptions{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.shareOption{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.shareoptionlogo{
    height: 30px;
    width: 20px;
}

.shareoptionPhoto{
    margin-right: 10px;
    height: 30px;
    width: 20px;
    color: green;
}

.shareoptionTag{
    margin-right: 10px;
    height: 30px;
    width: 20px;
    color: red;
}

.shareoptionFeelings{
    margin-right: 10px;
    height: 30px;
    width: 20px;
    color: goldenrod;
}

.shareoptionLocation{
    margin-right: 10px;
    height: 30px;
    width: 20px;
}

.shareoptiontext{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
    height: 30px;
}

.shareBtn{
    border: none;
    font-size: 18px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width:500px) {
    .SharePostContainer{
        height: 160px;
    }
    
    .shareHR{
        margin: 10px;
    }
    .shareOptions{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }    
    .shareOption{
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .shareoptionlogo{
        height: 30px;
        width: 20px;
        margin-right: 5px;
    }
    .shareoptionLocation{
        margin-right: 10px;
        height: 20px;
        width: 16px;
        margin-top: 5px;
    }
    .shareoptiontext{
        font-size: 16px;
        height: 30px;
        margin-top: 10px;
        margin-left:0px;
    }
    .shareBtn{
        border: none;
        font-size: 16px;
    }
}